# Data Type : List

In [1]:
a = [ 0, 1, 2, 3, 4, 5 ]  
b = [ "a", "b" ]

# Creating List

In [2]:
a = [ 0, 1, 2, 3, 4, 5 ]

## List Slicing
a[l:r:i]
    l : Left index  . Default 
    r : Right index . Default 
    i : step, default 1

In [3]:
a

[0, 1, 2, 3, 4, 5]

In [4]:
a[1]

1

In [5]:
print("max index ")
a[:2]

max index

[0, 1]

In [6]:
a[2:]

[2, 3, 4, 5]

In [7]:
a[1::3]

[1, 4]

In [8]:
a

[0, 1, 2, 3, 4, 5]

#### all at even index
a[::2]

In [9]:
# all at odd index
a[1::2]

[1, 3, 5]

### Negative index

In [10]:
# all numbers in reverse order
a[::-2]

[5, 3, 1]

In [11]:
# negative index
a[-3:]

[3, 4, 5]

In [12]:
a[-1:]

[5]

In [13]:
a[:-1]

[0, 1, 2, 3, 4]

In [14]:
a[-1:]

[5]

In [15]:
a[::-2]

[5, 3, 1]

## List methods

In [16]:
a = list(range(10))

In [17]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
len(a)

10

In [19]:
a.index(5)

5

In [20]:
a.count(5)

1

# List self-update method

These methods updates the list, return none

In [21]:
a.append(11)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11]

In [22]:
a.reverse(); print(a)

[11, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [23]:
a.reverse(); print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11]

In [24]:
a.remove(5); print(a)

[0, 1, 2, 3, 4, 6, 7, 8, 9, 11]

In [25]:
a.insert(5,6); print(a)

[0, 1, 2, 3, 4, 6, 6, 7, 8, 9, 11]

In [26]:
a = list(range(5))
b = list(range(6,10))

In [27]:
print( "a = ", a); print( "b = ", b)

a =  [0, 1, 2, 3, 4]
b =  [6, 7, 8, 9]

# Self update list

In [28]:
a = list(range(100,110))
b = list(range(200,210))

In [29]:
print(a); print(b)

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109]
[200, 201, 202, 203, 204, 205, 206, 207, 208, 209]

In [30]:
b = list(range(200,210)); print(" b = ", b)

 b =  [200, 201, 202, 203, 204, 205, 206, 207, 208, 209]

In [31]:
b.pop(5)

205

In [32]:
print( b.pop(), " ; ", b)

209  ;  [200, 201, 202, 203, 204, 206, 207, 208]

In [33]:
print( b.pop(7), " ; ", b)

208  ;  [200, 201, 202, 203, 204, 206, 207]

In [34]:
print( b.pop(), " ; ", b)

207  ;  [200, 201, 202, 203, 204, 206]

In [35]:
print(a); print(b)

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109]
[200, 201, 202, 203, 204, 206]

In [36]:
a.extend(b) ; print(a)

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 200, 201, 202, 203, 204, 206]

### List arthimatics

In [37]:
a = list(range(5))
b = list(range(6,10))

In [38]:
a + b

[0, 1, 2, 3, 4, 6, 7, 8, 9]

In [39]:
a * 2

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [41]:
a / 2

SyntaxError: unexpected character after line continuation character (<ipython-input-41-5517c8d7bd97>, line 1)

In [ ]:
a - b

In [ ]:
a = list(range(5))
b = list(range(5,10))
c = list(range(5))
print(" a = ", a, "\n b = ", b, "\n c = ", c)

In [ ]:
a > b

In [ ]:
a < b

In [ ]:
a == b

In [ ]:
a == c

In [ ]:
a <= c

In [ ]:
print(" a = ", a, " \n b = ", b)
a <= b

In [ ]:
a_l = [-1] + a
a_r = [-1] + b

In [ ]:
print(" a_l = ", a_l, "\n a_r = ", a_r)
a_l <= a_r

#Example

In [ ]:
a[0]

In [ ]:
a[:4]

In [42]:
a[3::]

[3, 4]

In [ ]:
a=[0,1,2,3,4,5,7,7,8,9]
a.count(7)

In [ ]:
#example

In [ ]:
a = [2,3,4,5,6,7,8]
a[2:6]

In [ ]:
a=list(range(1878,1890))

In [ ]:
print("the numbers =", a)

#example

In [ ]:
a= [0,1,2,3,4,5,6,7,8,9,10]
a.insert(6,7);print(a)